.darkBG {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

.animationDarkBG{
  opacity: 1;
  pointer-events: auto;
}

.darkBGtext {
  position: absolute;
  z-index: 50;
  background-color: white;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkBGtextStart {
  animation: animationModalWindow 1s;
}

.darkBGtextEnd{
  animation: animationCloseWindow 1s;
}

.close-modal-wind {
  text-decoration: none;
  padding: 5px;
  margin-top: 5px;
  background-color: blueviolet;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

.close-modal-wind:hover {
  background-color: darkblue;
}

@keyframes animationModalWindow {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes animationCloseWindow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

  }

  100% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
}
